<div class="jumbotron">
  <h1>Welcome to LQ's Amusement Park</h1>
  <img src="https://www.hi-techlearning.com/wp-content/uploads/2016/08/amusementPark.jpg" height='400' alt="amusement-park"><br><br>
  <%= link_to("Sign Up", new_user_path, class:"btn btn-primary") %>
  <%= link_to("Sign In", login_path, class:"btn btn-primary") %>
</div>
